.header
    &__inner
        padding: 36px 0
        display: flex
        justify-content: space-between
        align-items: center
    &__menu-list, &__socials, &__phone
        display: flex
    &__menu-list
        @include mobile
            display: none     
    &__menu-item
        margin-right: 40px
        @include notebook
            margin-right: 30px
    &__menu-link
        font-weight: 500
    &__socials
        @include mobile-small
            display: none
    &__social
        margin-right: 18px
    &__phone
        @include mobile-small
            display: none
    &__phone-image
        margin-right: 12px
    &__phone-num
        @include lato
        font-size: 20px
        color: $dark-green

    // ADAPTIVE ELEMENTS

    &__burger
        @include mobile
            display: block
